{% extends "base-layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 well" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
					
					<div class="heading">
						<h4 class="form-heading">Panel de administración</h4>
                    </div>
                    <div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Base de Datos <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Reiniciar </a></li>
						</ul>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Patrón de reporte <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('update_pattern') }}">Actualizar</a></li>
						</ul>
					</div>
					
				</div>
                
                <div class="col-sm-2">
                </div>
            </div>
        </div><!--/container-->
    </div>                   
    <div class="col-sm-2">
    </div>
</div>

{% endblock %}
