{% extends "base-layout.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 well" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success"><strong>Gracias por inscribirte!</strong><p> Has sido registrado como usuario del servicio <span class="glyphicon glyphicon-registration-mark">eporta.</span> Haz clic en Volver para regresar al Indice.</p> </div>
                    <p><a class="btn btn-lg btn-primary btn-success"  href="{{ url_for('index') }}">Volver</a></p>
                </div> 
            </div>
        </div><!--/container-->
    </div>                   
    <div class="col-sm-3">        
    </div>
</div>

{% endblock %}
