{% extends "base-layout.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 well" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning"><strong>Acceso denegado!</strong><p> Debes confirmar tu dirección de correo con <span class="glyphicon glyphicon-registration-mark">eporta.</span> para poder acceder a esta pagina!.</p> </div>
                    <p><a class="btn btn-lg btn-primary btn-warning"  href="{{ url_for('signin') }}">Acceder</a></p>
                </div> 
            </div>
        </div><!--/container-->
    </div>                   
    <div class="col-sm-3">        
    </div>
</div>

{% endblock %}
